.timer-remaining {
	width: 25%;
	float: left;
}

.timer-label {
	width: 75%;
	float: right;
	font-weight: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#options a {
	min-width: 10em;
}
