.timer-remaining {
	width: 20%;
	float: left;
}

.timer-label {
	width: 80%;
	float: right;
	font-weight: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#actions a {
	min-width: 12em;
}
